.App {
  margin-left: 700px;
}


.App-link {
  color: #09d3ac;
}


.NamesBlock span{
  background-color: honeydew;
}
.names{
  margin-right: 100px;
}
.colorTextForAll{
color: darkgoldenrod;
}
.colorTextForCompleted{
  color: chartreuse;
}
.colorTextForActive{
  color: blue;
}


.buttonColorAll{
  background-color: blue;
  color: lightcyan;
}

.buttonColorCompleted{
  background-color: darkkhaki;
  color: firebrick;
}

.buttonColorActive{
  background-color: deepskyblue;
  color: gray;
}
